.productListBoard{
    height: 1000px;
    display: flex;
    justify-content: center;
}

.productListItem{
    position:absolute;
    width: 1000px;
    height: 900px;
}

.productListItem ul{
    text-align: left;
    list-style: none;
    margin: 0;
    padding:0;
}

.productListItem li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    display: inline-block;
}

.productContainer{
    text-align: center;
    width: 250px;
    height: 400px;
}

.productImageBox{
    width: 250px;
    height: 200px;
}
.productImage{
    width: 200px;
    height: 200px;
}
.productImage:hover{
    cursor: pointer;
}


.productNameBox{
    width: 250px;
    height: 30px;
}
.productName{
}
.productName:hover{
    cursor: pointer;
}


.productIconBox{
    width: 250px;
    height: 50px;
    line-height: 50px;
}
.productIcon{
    width: 30px;
    height: 10px;
}

.productPriceBox{
    width: 250px;
    height: 50px;
}
.productPrice{
    color: #888;
    text-decoration: line-through;
}
.productDiscountPrice{
    color: red;
    font-size: 25px;
}

.productButtonBox{
    width: 250px;
    height: 50px;
    visibility: hidden;
}
.productContainer:hover .productButtonBox {
    visibility: visible;
}
.productBuyButton{
    width: 70px;
    height: 20px;
}
.productBuyButton:hover{
    cursor: pointer;
}
.producBasketButton{
    width: 70px;
    height: 20px;
}
.producBasketButton:hover{
    cursor: pointer;
}


